<dx-data-grid id="gridContainer" class="venues-grid"
    [dataSource]="venues"
    [rowAlternationEnabled]="false"
    [columns]="venuesColumns"
    [showBorders]="true"
    [showRowLines]="true"
    (onSelectionChanged)="onSelectionChange($event)">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-master-detail [enabled]="true" template="events-view"></dxo-master-detail>
    <div *dxTemplate="let row of 'events-view'">
        <app-events-view [venue]="row.data"></app-events-view>
    </div>
</dx-data-grid>
