<mgl-map class="map-view"
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="zoom"
    [center]="center"
    (mapLoad)="map = $event">
    <mgl-image id="cafe" url="assets/cafe-icon.png" (imageLoaded)="venueImageLoaded = true"></mgl-image>
    <mgl-image id="event" url="assets/event-icon.png" (imageLoaded)="eventImageLoaded = true"></mgl-image>
    <mgl-geojson-source
        id="venuesSource"
        [data]="venueFeatures">
    </mgl-geojson-source>
    <mgl-geojson-source
        id="eventsSource"
        [data]="eventFeatures">
    </mgl-geojson-source>
    <mgl-layer *ngIf="venueImageLoaded"
        id="venues"
        type="symbol"
        source="venuesSource"
        [layout]="venuesLayout"
        [filter]="venuesFilter"
        [paint]="venuesPaint"
        (layerClick)="venueClick($event)"
        (layerMouseMove)="activateCursor($event)"
        (layerMouseLeave)="disableCursor()">
    </mgl-layer>
    <mgl-layer *ngIf="eventImageLoaded"
        id="events"
        type="symbol"
        source="eventsSource"
        [layout]="eventsLayout">
    </mgl-layer>
    <mgl-control>
        <input class="form-control form-control-sm" type="text" placeholder="Filter by name" (input)="onFilterByNameInput($event)">
    </mgl-control>
</mgl-map>