.venue-info-container {
  width: 100%;
}

.venue-info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.venue-info-calendar {
  white-space: pre-wrap;
}

.venue-info-item {
  padding: 0.5rem;
  width: 100%
}