<ng-container *ngIf="venue">
  <div class="card venue-info-container">
    <div class="card-header">{{ venue.details['en'].title }}</div>
    <div class="card-body venue-info-content">
      <div class="venue-info-item border-right">
        <p *ngIf="venue.details['en'].calendarsummary" class="card-text venue-info-calendar">{{ venue.details['en'].calendarsummary }}</p>
        <p class="card-text">{{ venue.location.city + ', ' + venue.location.adress }}</p>
        <a *ngIf="venue.urls?.length" [href]="venue.urls[0]" class="btn btn-primary">Go to site</a>
      </div>
      <div *ngIf="venue.details['en'].shortdescription" class="venue-info-item border-right">
        <p class="card-text">{{ venue.details['en'].shortdescription }}</p>
      </div>
      <div *ngIf="venue.media?.length" class="venue-info-item">
        <dx-gallery #gallery
            id="gallery"
            [dataSource]="images"
            [width]="400"
            [height]="200"
            [loop]="true"
            [showNavButtons]="true"
            [showIndicator]="true">
        </dx-gallery>
      </div>
    </div>
  </div>
</ng-container>

