<div class="events-view-header">Nearby events</div>
<dx-data-grid id="gridContainer" class="events-grid"
    [dataSource]="venueEvents"
    [rowAlternationEnabled]="false"
    [columns]="eventsColumns"
    [showBorders]="true"
    [showRowLines]="true">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
</dx-data-grid>
