.venues-header {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  font-size: 2rem;
}

.venues-container {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  display: flex;
  min-height: 100px;
  height: 100%;
  flex-direction: column;
}

.venues-buttons {
  margin-bottom: 0.3rem;
  width: 10rem;
}

.venues-content {
  width: 100%;
  display: flex;
  min-height: 100px;
  height: 100%;
  flex-direction: column;
}

.venues-map {
  width: 100%
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}