<div class="venues-header">
  OutIn Venues
</div>
<div class="venues-container">
  <div class="venues-buttons btn-group btn-group-toggle" ngbRadioGroup name="venuesButtons" [(ngModel)]="mode">
    <label ngbButtonLabel class="venues-button btn-primary">
      <input ngbButton type="radio" value="list"><i class="dx-icon-contentlayout"></i></label>
    <label ngbButtonLabel class="venues-button btn-primary">
      <input ngbButton type="radio" value="map"><i class="dx-icon-map"></i></label>
  </div>
  <div class="venues-content">
    <ng-container *ngIf="mode === 'list'">
      <app-venues-view [selectedVenue]="selectedVenue" (selectionChange)="onVenueSelected($event)"></app-venues-view>
      <app-venue-info [venue]="selectedVenue"></app-venue-info>
    </ng-container>
    <ng-container *ngIf="mode === 'map'">
      <app-map-view [selectedVenue]="selectedVenue" (selectionChange)="onVenueSelected($event)"></app-map-view>
      <app-venue-info [venue]="selectedVenue"></app-venue-info>
    </ng-container>
  </div>
<div>
